<div id="weeklist" class="flex-row">
  {{#each fullWeek}}
    <div class="test weekday">
      <div>
        <h3>{{weekday.day_name}}</h3>
        <h4>{{format_date date}}</h4>
      </div>
      <div class="list text">
        <h5>Priority:</h5>
        <ul>
          {{#each priorities}}
            {{#user_eq user_id current_user_id}}
              <li data-id="{{id}}">{{content}}<span
                  class="delete-prio del"
                >❌</span></li>
            {{/user_eq}}
          {{/each}}
        </ul>
        <a href="/priority/{{id}}"><button
            class="edit-btn add-priority"
          >Add</button></a>
      </div>
      <div class="list text">
        <h5>To-Do:</h5>
        <ul>
          {{#each tasks}}
            {{#user_eq user_id current_user_id}}
              <li data-id="{{id}}">{{content}}<span
                  class="delete-todo del"
                >❌</span></li>
            {{/user_eq}}
          {{/each}}
        </ul>
        <a href="/todo/{{id}}"><button
            class="edit-btn add-todo"
          >Add</button></a>
      </div>
    </div>
  {{/each}}
</div>

<script src="/js/animate.js"></script>